@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 18, 18, 18;
  --background-end-rgb: 30, 30, 30;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.dark body {
  background: 
  radial-gradient(circle at 0% 50%, rgba(24, 24, 27, 0.3) 20%, transparent 20.5%),
  radial-gradient(circle at 100% 50%, rgba(24, 24, 27, 0.3) 20%, transparent 20.5%),
  linear-gradient(180deg, #18181b 0%, #09090b 100%);
background-size: 60px 50px, 60px 50px, 100% 100%;
}


/* Add this to ensure smooth transitions */
* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

